@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Bitter:wght@200&family=Playfair+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(whitesmoke, rgba(0, 0, 0, 0.3)), url(/assets/images/hagwards-castle.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

}
 a {
    text-decoration: none;
    color: whitesmoke;
 }

.container {  
    width: 90%;
    max-width: 600px;
    margin: 250px auto 0;
    border-radius: 10px;    
    padding: 30px;
}
.container h1{
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(2,21,21);
    font-weight: 800 ;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    text-align: center;
}

.quiz {
    padding: 20px 0;
}
.logo {
    background-image: url(/assets/images/harry-potter.png);
    padding-top: 20px;
}

.quiz h2 {
    font-size: 20px;
    color: rgb(2,21,21);
    font-weight:600;
   
}

.btn {
    background:whitesmoke;
    color: #222;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;

}

.btn:hover.btn:hover:not([disabled]){
    background:  #222;
    color :whitesmoke;

}
.btn:disabled {
    cursor: no-drop;
}
#next{
    background: #050c18;
    color: whitesmoke;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: rgb(100, 168, 100);
}

.incorrect{
    background: rgb(171, 92, 92);
}
.train{
    height: 100vh;
    width: 100%;
    background-image: url(/assets/images/train.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column; 
   
  

}
.wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.start-btn{
    text-transform: capitalize;
    margin-top: 450px;
    margin-right: 80px;
    color: antiquewhite;
    background-color: #1b1a1a;
    border-radius: 60%;    
    padding:  40px;
    border: 1px solid black;
    
   
}
footer {
    margin: 1em;
    display: flex;
    justify-content: space-between;
}
.social-links {
    width: 100%;
    text-align: center;
}

.social-links li {
    display: inline;
    text-decoration: none;
}
.social-links i {
    font-size: 150%;
    margin: 1%;
    color:rgb(119, 95, 49)
  }


  