
* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image:linear-gradient(whitesmoke, rgba(0, 0, 0, 0.3)),url(/assets/images/train.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

}
p {
    color:whitesmoke;
    text-transform: capitalize;
}
 a {
    text-decoration: none;
    color: whitesmoke;
 }

.container {  
    width: 90%;
    max-width: 600px;
    margin: 250px auto 0;
    border-radius: 10px;    
    padding: 30px;
   
}
.container h1{
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(2,21,21);
    font-weight: 800 ;
    padding-bottom: 20px;
    text-align: left;
}

.quiz h2 {
    font-size: 20px;
    color: rgb(2,21,21);
    font-weight:600;
    text-align: left;
   
}

.btn {
    background:whitesmoke;
    color: #222;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;

}

.btn:hover.btn:hover:not([disabled]){
    background:  #222;
    color :whitesmoke;

}
.btn:disabled {
    cursor: no-drop;
}
#next{
    background: #050c18;
    color: whitesmoke;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: rgb(100, 168, 100);
}

.incorrect{
    background: rgb(171, 92, 92);
}

.wrapper {
    width: 60%;
    max-width: 600px;
    margin: 450px auto 0;
    border-radius: 10px;    
    padding: 30px;
    /* /* background-color:linear-gradient(whitesmoke, rgba(0, 0, 0, 0.3)); */
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}



.start-btn{
   
    text-transform: capitalize;
    color: antiquewhite;
    background-color: #1b1a1a;
    /* border-radius: 60%;    
    padding:  30px; */
    padding: 1em;
    border-radius: 60%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.social-links {
    width: 100%;
    text-align: center;
}

.social-links li {
    display: inline;
    text-decoration: none;
}
.social-links i {
    font-size: 150%;
    margin: 1%;
    color:rgb(119, 95, 49);
  }

.hide {
    display:none;
}

.header{
    margin-bottom:1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 1px solid black;

}
.timer {
    background-color: rgb(108, 87, 48);
    width: 5.5em;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  

}
@media screen and (max-width: 520px) {
    body {
        width: 100%;
    }
        
    .container {  
        width: 100%;
        max-width: 600px;
        margin: 100px auto 0;
        /* border-radius: 10px;    
        padding: 30px; */
    }

    .start-btn{
        margin-top:50px;
        padding:10px;
        margin-right:25px;
    }
    
}